
#clockContainer{
    position: relative;
    background: url(clock.png) no-repeat;
    height: 40vw;
    width: 40vw;
    background-size: 100%;
    margin: auto;
}

#hour, #minute, #second, #ball{
    position: absolute;
    /* background: red; */
    border-radius: 10px;
    transform-origin: bottom;
    
}

#hour{
    height: 23%;
    width: 1.1%;
    top: 26.9%;
    left: 49.5%;
    /* opacity: 0.8; */
    /* display: none; */
    background: black;
}

#minute{
    height: 35%;
    width: 1%;
    top: 14.7%;
    left: 49.5%;
   
    /* display: none; */
    
    background: rgb(40,40,40);
}

#second{
    height: 43%;
    width: 1%;
    top: 6.9%;
    left: 49.5%;
    /* display: none; */
   
    background: rgb(89,89,89);
}

#ball{
    border-radius: 50%;
    background: rgb(25 25 25);
    height: 4%;
    width: 4%;
    top: 47.9%;
    left: 47.8%;

}